/*Selector universal*/
*{
    font-family: 'Poppins', sans-serif;
}
/*CSS general de elemetos HTML*/
body{
    background-color: #222;
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin:0px;
}
nav{
    position: fixed;
    background-color: #222;
    width: 100%;
    padding-top:10px;
    height: 55px;
    border-bottom: 1px solid white;
    text-align: center;
}
footer{
    height: 55px;
    padding-top:10px;
    text-align: center;
}
nav ul,footer ul{
    display: inline-block;
}
nav li,footer li{
    padding-top:12px;
}
nav #inicioImg,footer #inicioImg{
    padding-top:0px;
}
h1{
    font-size:36px;
    margin:0;
}
h3{
    color: #999;
    font-size:18px;
    font-weight: 300;
    margin:0;
}
p{
    text-align: justify;
    margin: 0px;
}
cite{
    font-weight: 300;
}
ul{
    /*width: 100%;*/
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    float: left;
    margin-right: 10px;
}
i{
    font-size: 24px;
}
a{
    text-decoration: none;
}
a:link,a:visited{
    color: white;
}
a:hover{
    color: #ffc900;    
}
/*CSS de clase y de id*/
.seccion{
    padding: 10px 50px 0 50px;
}
.hastag{
    color: #ffc900;
}
.greycolor{
    color: #999;
}
#inicio{
    padding-top:65px;
}
#sobremi{
    clear: both;
}
#portfolio{
    border-top: 1px solid #ffc900;
}
#experiencia{
    background-color: white;
    color: #222;
}
#contacto{
    background-color: #ffc900;
}
#contacto h1,h3{
    width: 25%;
}
/*CSS formulario*/
form{
    display: table;
    width:75%;
    margin: 0 0 0 auto;
}
label{
    color: black;
}
.itemform{
    display: table-row;
    padding: 10px;
}
.itemform label, input,textarea{
    display: table-cell;
    margin-top:10px;
}