/*Selector universal*/
*{
    font-family: 'Poppins', sans-serif;
}
/*CSS general de elemetos HTML*/
body{
    background-color: #222;
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin:0px;
}
h1{
    font-size:36px;
    margin:0;
}
h3{
    color: #999;
    font-size:18px;
    font-weight: 300;
    margin:0;
}
p{
    text-align: justify;
}
cite{
    font-weight: 300;
}
ul{
    width: 100%;
    padding: 0px;
}
li{
    list-style: none;
    float: left;
    margin-right: 10px;
}
i{
    font-size: 24px;
}
a:link,a:visited{
    color: white;
}
a:hover{
    color: #ffc900;    
}
/*CSS de clase y de id*/
.seccion{
    padding: 0 50px 0 50px;
}
.hastag{
    color: #ffc900;
}
.greycolor{
    color: #999;
}
#menu{
    position: fixed;
    background-color: #222;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid white;
}
#inicio{
    padding-top:55px;
}
#sobremi{
    clear: both;
}
#portfolio{
    border-top: 1px solid #ffc900;
}
#experiencia{
    background-color: white;
    color: #222;
}