/*Selector universal*/
*{
    font-family: 'Poppins', sans-serif;
}
/*CSS general de elemetos HTML*/
body{
    background-color: #222;
    color: white;
    font-size: 14px;
    font-weight: 200;
    margin:0px;
}
nav{
    position: fixed;
    background-color: #222;
    width: 100%;
    padding-top:10px;
    height: 55px;
    border-bottom: 1px solid white;
    text-align: center;
}
footer{
    height: 55px;
    padding-top:10px;
    text-align: center;
}
nav ul,footer ul{
    display: inline-block;
}
nav li,footer li{
    padding-top:12px;
}
nav #inicioImg,footer #inicioImg{
    padding-top:0px;
}
h1{
    font-size:36px;
    margin:0;
}
h3{
    color: #999;
    font-size:18px;
    font-weight: 300;
    margin:0;
}
p{
    text-align: justify;
    margin: 0px;
}
cite{
    font-weight: 300;
}
ul{
    /*width: 100%;*/
    margin: 0px;
    padding: 0px;
}
li{
    list-style: none;
    float: left;
    margin-right: 10px;
}
i{
    font-size: 24px;
}
a{
    text-decoration: none;
}
a:link,a:visited{
    color: white;
}
a:hover{
    color: #ffc900;    
}
button{
    border-radius: 10px;
}
/*CSS de clase y de id*/
.seccion{
    padding: 10px 50px 0 50px;
}
.hastag{
    color: #ffc900;
}
.greycolor{
    color: #999;
}
#inicio{
    padding-top:65px;
    min-height: 235px;
    background-image: url("../imagenes/fondoinicio.png");
}
#sobremi{
    clear: both;
}
#sobremi img{
        float: left;
}
#portfolio{
    border-top: 1px solid #ffc900;
}
#portfolio h1{
    text-align: center;
}
#portfolio h3{
    text-align: center;
}
#experiencia{
    background-color: white;
    color: #222;
}
#contacto{
    background-color: #ffc900;
}
#contacto h1,#contacto h3{
    width: 25%;
}
/*CSS formulario*/
form{
    display: table;
    width:75%;
    margin: 0 0 0 auto;
}
label{
    color: black;
}
input,textarea{
    border-radius: 5px;
    border: 1px solid #222;
}
.itemform{
    display: table-row;
    padding: 10px;
}
.itemform label, input,textarea{
    display: table-cell;
    margin-top: 10px;
}
/*CSS card*/
.card{
    width: 250px;
    background-color: #191919;
    border-radius: 15px;
}
.card img{
    border-radius: 15px 15px 0 0;
}
.card h3,.card h4,.card p,.card .masinfo{
    padding: 0 15px;
}
.card h3{
    color: #ffc900;
}
.card h4{
    margin: 0 5px 5px 0;
}
.card .masinfo{
    margin: 15px 0px 15px 0px;
    height: 26px;
}
.card .masinfo button{
    background-color: #ffc900;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}
.card .sep{
    margin: 0 5px 5px 0;
    border: 1px solid #ffc900;
}
/*CSS sobremi*/
.infosobremi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 300px;
    padding-left: 15px;
    margin-bottom: 15px;
}
.infosobremi .masinfo button{
    background-color: #ffc900;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
}
/*CSS filaPortfolio*/
.filaportfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

